body {
  margin: 0;
  background: #0f172a;
  color: white;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
  min-height: 100vh;
  padding: 20px;
}

.home {
  margin-top: 80px;
}

.home h1 {
  font-size: 3rem;
}

.config {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 300px;
  margin: auto;
}

select,
button {
  padding: 12px;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
}

button {
  background: #3b82f6;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #2563eb;
}

.stats {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.board {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 15px;
  justify-content: center;
}

.card {
  width: 100px;
  height: 100px;

  background: #3b82f6;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;

  border-radius: 15px;

  cursor: pointer;

  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.flipped {
  background: white;
  color: black;
}

.result {
  margin-top: 100px;
}

.result h1 {
  font-size: 3rem;
}

.quit-btn {
  background: #dc2626;
  color: white;
}

.quit-btn:hover {
  background: #b91c1c;
}

.result-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}